services:
  db:
    image: postgres:16
    container_name: smart-tracker-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: smart_tracker
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
